:root{
    /* --lightfont:rgb(230, 230, 230) !important;
    --darkbg: black !important;
    --borderdark:rgb(44, 44, 44) !important ;
    
    --darkfont: rgb(10, 10, 10) !important;
    --lightbg: rgb(255, 255, 255) !important;
    --borderlight:rgb(100, 100, 100) !important; */

    --font: ;
    --bg: ;
    --border-color:black ; 
} 




/* *{
    color: var(--font) !important;
    background-color: var(--bg)!important;
    border-color:var(--border-color)!important;
} */

.light-theme{
    color: black !important;
    background-color: white !important;
}   

.dark-theme {
    color: white !important;
    background-color: black !important;
}