:root{

    --font:  ;
    --bg:  ;
    --bordercolor: ; 
    --bordershadow : ; 

    --popupfont: black;
    --popupbg:rgb(247, 247, 247) ;
    --popupbordercolor: rgb(118, 171, 174);
    --popupbordershadow: ; 
    --popuplabelcolor: black;
    
} 




